@font-face{
    font-family: 'Bitter';
    src: url('./../fonts/Bitter/static/Bitter-Bold.ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'Bitter';
    src: url('./../fonts/Bitter/static/Bitter-Light.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Bitter';
    src: url('./../fonts/Bitter/static/Bitter-Regular.ttf');
    font-weight: 400;
}


@font-face{
    font-family: 'Inter';
    src: url('./../fonts/Inter/static/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Playfair Display';
    src: url('./../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'Playfair Display';
    src: url('./../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
    font-weight: 500;
}


@font-face{
    font-family: 'Roboto';
    src: url('./../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'Roboto';
    src: url('./../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}



*{
    margin: 0;
    padding: 0;
}



/* Селектор тега  */
  
   /* body {
    
    margin: 0 auto;
    
  } */

  .navigation {
    display: flex;
    height: 135px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
  }
   
 .navigation-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    flex: 1 0 0;
  } 
  

  
   .navigation-link {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none; 
  } 
  
   .navigation-link:hover {
    text-decoration: underline;

  } 



 .main-top {
    height: 630px;
    background: url("./../img/mod_studio.jpg") no-repeat center/cover; 
    position: relative;
    display: flex;
  }
  

  
 .main-company {
    padding-top: 1px;
    background: #FFF;
    width: 690px;
    height: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 110px 20px; 

  }
  
  .main-name {
    color: #000;
    text-align: center;
    font-family: Playfair Display;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  

    .main-suname{
    margin-top: 14px;
    font-size: 20px; 
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

    .biography-title{
    color: #000;
    text-align: right;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .biography-name{
    color: #000;
    font-family: Playfair Display;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

    .biography-job{
    color: #0D0D0D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

    .biography-quote{
    color: #0D0D0D;
    font-family: Bitter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .designers-title{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .designers-name{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }

    .designers-job{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .testimonials-about{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    }

    .testimonials-link{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .testimonials-title{
    color: #000;
    text-align: right;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .testimonials-quote{
    color: #000;
    text-align: center;
    font-family: Bitter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .strongPoints-title{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .strongPoints-menu{
    color: #000;
    font-family: Playfair Display;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 86px */
    }

    .strongPoints-link{
    color: #000;
    font-family: Bitter;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }


/* figma
 .main-top{
   background: url(/img/mod_studio.jpg), lightgray 0px -464.632px / 100% 242.111% no-repeat;
    width: 1440px;
    height: 630px;
    flex-shrink: 0;
}

.main-company {
    display: flex;
    width: 690px;
    padding: 110px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background: #FFF;
}
   */
