@font-face{
    font-family: 'Bitter';
    src: url('./../fonts/Bitter/static/Bitter-Bold.ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'Bitter';
    src: url('./../fonts/Bitter/static/Bitter-Light.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Bitter';
    src: url('./../fonts/Bitter/static/Bitter-Regular.ttf');
    font-weight: 400;
}


@font-face{
    font-family: 'Inter';
    src: url('./../fonts/Inter/static/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Playfair Display';
    src: url('./../fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'Playfair Display';
    src: url('./../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
    font-weight: 500;
}


@font-face{
    font-family: 'Roboto';
    src: url('./../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'Roboto';
    src: url('./../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}



*{
    margin: 0;
    padding: 0;
}



  .navigation {
    display: flex;
    height: 135px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
  }
   
 .navigation-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 55px;
    flex: 1 0 0;
  } 
  

  
   .navigation-link {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none; 
  } 
  
   .navigation-link:hover {
    text-decoration: underline;

  } 



 .main-top {
    height: 630px;
    background: url("./../img/mod_studio.jpg") no-repeat center/cover; 
    position: relative;
    display: flex;
    width: 100%;
    object-fit: contain;
  }
  

  
 .main-company {
    padding-top: 1px;
    background: #FFF;
    width: 690px;
    height: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 110px 20px; 

  }
  
  .main-name {
    color: #000;
    text-align: center;
    font-family: Playfair Display;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }
  

    .main-suname{
    margin-top: 14px;
    font-size: 20px; 
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

    .biography-main{
      margin-top: 150px;
      height: 840px;
      display: flex;
      justify-content: center;
      position: relative;

    }

    
    .biography_image {
      order: -1;
      max-width: 50%;
      min-width: 250px;
      flex-grow: 0;
      display: flex;
      height: 100%;
      overflow: hidden;
      width: 571px;
      height: 840px; 
    }



    .biography-title{
    color: #000;
    text-align: right;
    font-family: Roboto;
    /* font-size: 24px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: flex-start;
    writing-mode: vertical-lr;
    transform-origin: center center;
    /* transform: rotate(-180deg);
    margin: 0;
    width: 9.5%;
    display: flex; */
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    margin-left: clamp(10px, 4%, 29px);
    }


    .biography-skills{
      display: inline-block;
      padding: 0;
      margin-top: 0;
      list-style-type: none;
    }


    .biography-person {
      max-width: 40%;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  


    .biography-name{
    color: #000;
    font-family: Playfair Display;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

    .biography-job{
    color: #0D0D0D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }

    .biography-quote{
    color: #0D0D0D;
    font-family: Bitter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .biography-skillslist {
      font-size: 18px;
      font-weight: 500;
      /* padding: 0 0 0 18px; */
      margin-top: 0;
      list-style-type: none;
      color: #0D0D0D;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      
    }

    .biography-job-skill{
      padding: 36px 0px;
    }
    .biography-job,
    .biography-skillslist {
      color: #0D0D0D;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

 

    .designers-title{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .designers-name{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    }

    .designers-job{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .testimonials-about{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    }

    .testimonials-link{
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .testimonials-title{
    color: #000;
    text-align: right;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .testimonials-quote{
    color: #000;
    text-align: center;
    font-family: Bitter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .strongPoints-title{
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

    .strongPoints-menu{
    color: #000;
    font-family: Playfair Display;
    font-size: 86px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 86px */
    }

    .strongPoints-link{
    color: #000;
    font-family: Bitter;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .disk {

      width: 20px;
      height: 6px;
      background-color: #0d0d0d;
    }
